*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

.navbar{
    padding: 25px;
}

.navbar-brand{
     font-size: 35px;
     font-weight: bold;
}

.nav-link{
    background-color: rgb(49, 49, 49);
    width: 110%;
    margin-bottom: -20px;
    margin-left: -20px;
    padding-top: 0;
    line-height: 76px;
    height: 76px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}


section{
    margin: 20px;
    font-family: 'Quicksand', sans-serif;
}


@media only screen and (min-width: 576px){
    .navbar-nav{
        visibility: hidden;
    }
}

@media only screen and (min-width: 576px){
    .navbar-toggler{
        display: none;
    }
}
